body
{
    background: url("background12.png");
    background-size:100%;
    padding: 0;
    margin: 0;  
}

.topnav{
    width: 75%;
    margin: auto;
    margin-bottom: 1%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
}
.sidetopnav .list {
    padding: 0;
    margin: 0;
    margin-top: 4%;
}
.list
{
    display: flex;
    list-style-type: none;
}
hr{
    width: 100%;
    margin-left: 0%;
    height: 2px;
    margin-bottom: -.5rem;
}

.midnav-container-outer
{
border-top: 1px solid #d9d9d9;
border-bottom: 1px solid #d9d9d9;
padding: 2px 0;
}
.midnav-container-inner{
    background: #d9d9d9;
}
.midnav{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
ul.list2
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.list2 li{
    padding: 0.5em 0.5em;
    border-right: 1px solid #fff;
}
.list3 {
    list-style-type: circle;
    display: flex;
    padding: 0.75em 0;
    margin: 0;
}

.list3 li{
    color: rgb(15, 35, 100);
    padding-right: 1.5em;
}

.list3 li:first-child{
    list-style-type: none;
    padding-left: 0.5em;
}
.search-container
{
    padding-top:.4rem;
}

.bottomnav
{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.bottom-nav-container{
    border-bottom: 1px solid #d9d9d9;
}

.brideimg {
    display: flex;
}

.brideimg img {
    margin-right: 0.5em;
}
.subinbox{
 width: 75%;
 margin: auto;
 height: 26.5rem;

}
.topsubinbox
{
   
    background-color: rgb(180, 24, 141);
    display: flex;
    margin: auto;
    height:26.5rem;
    padding-left: .5em;

}
.leftinbox
{
 padding-left: 0em;
 padding-top: .5em;
 padding-right: .5em;    
}
.rightinbox
{
    background-color: rgb(39, 38, 38);
    color: white;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-top: 0.5rem;
    padding-left: 1rem;
    margin-bottom: 0.5rem;   
    margin-right: .5rem;
    right: .5em;
    width: 30rem;
}