body{
    padding: 2% 1%;
    font-family: 'haboro-sans';
}
header {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-between;
	padding-bottom: 1%;
	border-bottom: 1px solid #e6e6e6;
}
.brand {
	display: flex;
}
.brand img {
	width: 250px;
}
.title h1 {
	color: #63cdfc;
	font-weight: lighter;
}

.title p {
	font-size: 23px;
	color: #737373;
}

.user {
	display: inline-flex;
}

.user h1 {
	margin: auto 0.2em 0 0;
	font-size: 1.9em;
	font-weight: lighter;
	color: #737373;
}

.user h1.welcome {
	color: #63cdfc;
	font-weight: lighter;
}

.user img {
	margin: auto 0 1% 0;
	width: 50px;
	height: 50px;
}
main {
	display: flex;
	justify-content: space-between;
	padding: 2% 0 0 2%;
}
.sidebar div:not(:first-child)
{
    margin-top:20%;
}
.sidebar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.sidebar ul li {
	color: #8d8d8d;
	margin: 2% 0;
	cursor: pointer;
}

.sidebar div h2 {
	font-size: 1em;
}
.view-more {
	color: #00b0fd;
	font-size: 0.85em;
}
.view-more:hover {
	cursor: pointer;
	text-decoration: underline;
}