.homepage {
  font-family: "Trebuchet MS", sans-serif;
  font-style: normal;
  color: white;
  border: 1px solid transparent;
  margin-left: 220px;
  margin-right: 220px;
}

.homepage .head_nav {
  background-color: #042242;
  opacity: 0.7;
  float: right;
  padding-bottom: 0.1em;
  margin-bottom: 2%;
  padding-left: 0.4em;
  padding-right: 0.4em;
  
}

.homepage .head_nav a {
  font-size: smaller;
  color: white;
  text-decoration: none;
}

.homepage .mid1 {
  background-color: #02101f;
  opacity: 0.8;
  border: 1px solid transparent;
  padding-top: 1%;
  padding-bottom: 1%;
  display: inline-block;
  width: 100%;
}

.homepage .mid1 img {
  margin-top: -2em;
  margin-bottom: -2.7em;
  margin-left: 2em;
  margin-right: 5em;
  float: left;
  width: 45%;
 
}

.homepage .mid1 a {
  vertical-align: middle;
  text-transform: uppercase;
  color: rgb(180, 212, 238);
  text-decoration: none;
  margin-right: 0.5em;
  opacity: .9;
}

.homepage .mid1 .leftmidd {
  float: left;
}

.homepage .mid1 .rightmid {
  vertical-align: middle;
  
}

.homepage .mid2 {
  background: rgba(19, 26, 39, 0.1);
  border: 1px solid transparent;
  width: 100%;
}

.homepage .mid2 h1 {
  font-size: 2.5em;
  font-weight: lighter;
  padding-top: 0.2em;
  padding-left: 0.5em;
  opacity: 1.0;
  letter-spacing: 0.2em;
}

.homepage .Inbox {
  border: 6px solid transparent;
  margin-bottom: 2em;
  font-size: small;
  width: 100%;
}

.homepage .Inbox img {
  width: 100%;
}

.homepage .Inbox .col {
  background-color: #02101f;
  opacity: .8;
  float: left;
  width: 33.33%;

}

.homepage .Inbox .left {
  padding: 16px;
  text-align: left;
  
}

.homepage .Inbox .middle {
  padding: 16px;
  text-align: left;
  height: 354px;
}

.homepage .Inbox .right {
  padding: 16px;
  text-align: left;
}

.homepage .Inbox a {
  color: rgb(160, 212, 235);
  font-family: cursive;
}

.homepage .Lastline {
  margin-top: 30em;
  background-color: #02101f;
  opacity: 0.6;
  border: .6px solid transparent;
  font-size: small;
  width: 100%;
  padding: -10rem;
  
}

.homepage .Lastline p {
  text-align: center;
}

.homepage .Lastline a {
  color: white;
}


a:hover {
  background-color: #ddd;
  color: black;
}

a.active {
  background-color: #04aa6d;
  color: white;
}