*{
    padding:0;
    margin: 0;
}
.head{
    height: 6.2rem;
    background-color:rgb(18, 144, 194);
    padding:1.2rem;
}
.head h1{
    margin-top: 1rem;
    margin-left: .5rem;
    color:white;
    font: 4em Helvetica, sans-serif;
    font-stretch:ultra-condensed;
    font-weight: 200;
    
}

.body{
    border: 1px;
    margin-left:2rem;
    margin-right:2rem;
    margin-top:1.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;   
}
.nav{
    background: rgb(15, 15, 15);
    padding-top:.8rem;
    padding-bottom:1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;  
    height: 1rem; 
}
.Image
{
    position: absolute;
    right: 1.8rem;
}

.nav li{
    display: inline-block;
    color: white;
    margin-left: 2rem;
}
.news{
    border: groove 1.5px;
    width:53rem;
    padding: 1rem;
    margin: 1.5rem;
    height: 12.5rem;    
}
.news ul{
    margin: .5rem;
    list-style-type:none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
